    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    .centerAll{
        display: flex;
        justify-content: center;
    }
    
    
    
    .navBar{
        display: flex;
        justify-content: start;    
    }
    
    .Nav__img{
        width: 10rem;
        height: 10rem;
        padding-left:10rem ;
    }
    
    .border{
        border: black solid 1px;
    }
    
    .center{
        display: flex;
        justify-content: center;
    }

    .flexColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* HEADER */
    
    .header{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        background-color: #e9edc9;
        padding-left: 2rem ;
    }
    
    .header__logo__div{
        transition: transform 0.3s ease-in-out;
    }

    .header__logo__div:hover{
        transform: scale(1.2);
    }
    .header__logo{
        width: 3rem;
    }

    .header__titulo{
        font-family: 'Nunito', sans-serif;
        color: #6b705c;
        font-weight: bold;
    }
    
    .header__redesSociales{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .header__redesSociales__logo{
        width: 3rem;
        border-radius: 2rem;
        padding: 5px ;
        transition: transform 0.3s ease-in-out;
    }

    .header__redesSociales__logo:hover{
        transform: scale(1.2);
    }
    
    
    
    
    /* MAIN */
    main{
        padding-bottom:2rem ;
    }
    .main__quienesSomos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
        gap: 2rem;
    }
    
    .main__modulo__contenedor{
        display: flex;
        justify-content: space-around;
        padding-top: 10rem;
        
    }
    
    .main__modulo1{
        border: 1px black solid;
        border-radius: 0.4rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #e9edc9;
        transition: transform 0.2s ease-in ;
    ;
    }
    
    .main__modulo2{
        border: 1px black solid;
        border-radius: 0.4rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #e9edc9;
        transition: transform 0.2s ease-in ;
    }
    
    .main__modulo3{
        border: 1px black solid;
        border-radius: 0.4rem;
        width: 9rem;
        height: 8rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #e9edc9;
        transition: transform 0.2s ease-in ;
    }
    
    .main__modulo4{
        border: 1px black solid;
        border-radius: 0.4rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #e9edc9;
        transition: transform 0.2s ease-in ;
    }
    
    .main__modulo5{
        border: 1px black solid;
        border-radius: 0.4rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #e9edc9;
        transition: transform 0.2s ease-in ;
    }

    .main__modulo1:hover{
        transform: scale(1.5);
    }
    .main__modulo2:hover{
        transform: scale(1.5);
    }
    .main__modulo3:hover{
        transform: scale(1.4);
    }
    .main__modulo4:hover{
        transform: scale(1.5);
    }
    .main__modulo5:hover{
        transform: scale(1.5);
    }

    .main__modulos__anchor{
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        color: #6b705c;
        font-weight: bold;
    }


    
    
    /* FOOTER */
    
    .footer__contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        color: #6b705c;
        font-weight: bold;
        background-color:#e9edc9;   
    }



    