    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    .centerAll{
        display: flex;
        justify-content: center;
    }
    
    
    
    .navBar{
        display: flex;
        justify-content: start;    
    }
    
    .Nav__img{
        width: 10rem;
        height: 10rem;
        padding-left:10rem ;
    }
    
    .border{
        border: black solid 1px;
    }
    
    .center{
        display: flex;
        justify-content: center;
    }

    .flexColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* HEADER */
    
    .header{
        display: flex;
        justify-content: space-around;
        background-color: #EDE5D1;
        height: fit-content;
        align-items: center
    }
    
    .header__logo__div{
        transition: transform 0.3s ease-in-out;
    }

    .header__logo__div:hover{
        transform: scale(1.1);
    }
    .header__logo{
        width: 14rem;
    }

    .header__titulo{
        /* font-family: 'Nunito', sans-serif; */
        color: #09959B;
        font-family: 'Alegreya', serif;
        font-weight: 500;
    }
    
    .header__redesSociales{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 3rem ;
        padding-right: 8.5rem;
        padding-top: 1rem;
    }

    .header__redesSociales__logo{
        width: 3rem;
        border-radius: 2rem;
        padding: 5px ;
        transition: transform 0.3s ease-in-out;
    }

    .header__redesSociales__logo:hover{
        transform: scale(1.2);
    }
    
    .header__imagen__principal{
        gap:2rem
    }

    .logoPrincipal{
        height: 7rem;
    }
    
    
    /* MAIN */
    main{
        padding-bottom:8rem ;
        /* background-image: url("https://i.ibb.co/WcLSFg6/a3362e7578ea3ab65694f00ff585a362.jpg"); */
        background-image: url("./img/fondo12.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
    .main__quienesSomos {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        gap: 2rem;
        font-family: 'Nunito';
        font-weight: bold;
        line-height: 43px;
    }
    
    .main__quienesSomos__titulo{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }
    
    .main__modulo__contenedor{
        display: flex;
        justify-content: center;
        height: 8rem;
        gap: 5rem;
    }
    .main__modulos__anchor:visited {
        color: #09959B; 
    }
    
    .main__modulo1{
        border: 2px #09959B solid;
        border-radius: 5rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #EDE5D1;
        transition: transform 0.3s ease-in ;
        color: #09959B;


    ;
    }
    
    .main__modulo2{
        border: 2px #09959B solid;
        border-radius: 5rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #EDE5D1;
        transition: transform 0.3s ease-in ;
    }
    
    .main__modulo3{
        border: 2px #09959B solid;
        border-radius: 5rem;
        width: 9rem;
        height: 8rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #EDE5D1;
        transition: transform 0.3s ease-in ;
    }

    .ModuloPrincipalLogo{
        width: 4rem;
    }


    .main__modulo4{
        border: 2px #09959B solid;
        border-radius: 5rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #EDE5D1;
        transition: transform 0.3s ease-in ;
    }
    
    .main__modulo5{
        border: 2px #09959B solid;
        border-radius: 5rem;
        width: 7rem;
        height: 5rem;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #EDE5D1;
        transition: transform 0.3s ease-in ;
    }

    .main__modulo1:hover{
        transform: scale(1.1);
        color: #09959B;
    }
        .main__modulo2:hover{
        transform: scale(1.1);
    }
    .main__modulo3:hover{
        transform: scale(1.2);
    }
    .main__modulo4:hover{
        transform: scale(1.1);
    }
    .main__modulo5:hover{
        transform: scale(1.1);
    }

    .main__modulos__anchor{
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        color: #6b705c;
        font-weight: 900;
    }

    .main__descripcion{
        text-align: justify;
    }

    .main__imagenSaludable{
        display: flex;
        justify-content: center;
    }

    .main__carrousel{

    }

    .main__carrousel__item{
        width: 15rem;
        display: flex;
        justify-content: center;
    }
    
    
    /* FOOTER */
    
    .footer__contenedor{
        background-color: #d7d3b0;
        display: flex;
        justify-content:space-around;
        align-items: center;
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-family: 'Montserrat Alternates', sans-serif;
        


    }

    .footer__hijo{
        padding: 10px;
    }

    

    .footer__redesSociales{
        display: flex;
        flex-direction: row;
        align-content: end;
        justify-content: flex-end;
        padding-right: 3rem;
        padding-top: 8rem;
        height: 0rem;
    }

    .footer__redesSociales__logo{
        width: 3rem;
        border-radius: 2rem;
        padding: 5px ;
        transition: transform 0.3s ease-in-out;
    }

    .footer__redesSociales__logo:hover{
        transform: scale(1.2);
    }
